<%= render 'spree/admin/shared/order_tabs', current: 'Shipments' %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i>
  <%= Spree.t(:shipment) %> #<%= @shipment.number %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_shipments_list), spree.admin_order_shipments_url(@order), icon: 'icon-arrow-left' %></li>
<% end %>

<%= link_to Spree.t(:post_to_unifaun, scope: :unifaun), '', class: 'button' %>
<%= link_to Spree.t(:get_unifaun_status, scope: :unifaun), '', class: 'button' %>
