<% content_for :page_title do %>
  <%= Spree.t(:settings, scope: :unifaun) %>
<% end %>

<%= form_tag(admin_unifaun_settings_path, method: :put) do %>
  <fieldset class="no-border-top">
    <div data-hook="admin_unifaun_method_form_fields">
      <div class="row">
        <div class="col-md-12" data-hook="unifaun">
          <fieldset class="no-border-bottom">

            <legend><%= Spree.t(:general) %></legend>

            <div class="form-group">
              <%= label_tag :service, Spree.t(:service, scope: [:unifaun, :preferences]) %>
              <%= select_tag(:service, options_for_select(Spree::Unifaun::Config.services, Spree::Unifaun::Config[:service]), class: 'select2') %>
            </div>

            <div class="form-group">
              <%= label_tag :login_name, Spree.t(:login_name) %><br>
              <%= text_field_tag(:user_id, Spree::Unifaun::Config[:user_id], class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= label_tag :password, Spree.t(:password) %><br>
              <%= password_field_tag(:password, Spree::Unifaun::Config[:password], class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= label_tag :quick_id_for_sender, Spree.t(:quick_id_for_sender, scope: [:unifaun, :preferences]) %>
              <%= text_field_tag(:quick_id_for_sender, Spree::Unifaun::Config[:quick_id_for_sender], class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= label_tag :weight_multiplyer, Spree.t(:weight_multiplyer, scope: [:unifaun, :preferences]) %>
              <%= text_field_tag(:weight_multiplyer, Spree::Unifaun::Config[:weight_multiplyer], class: 'form-control') %>
            </div>

            <div class="form-group">
              <%= label_tag :track_and_trace_language, Spree.t(:track_and_trace_language, scope: [:unifaun, :preferences]) %><br>
              <%= select_tag(:track_and_trace_language, options_for_select(Spree::Unifaun::Config.track_and_trace_languages, Spree::Unifaun::Config[:track_and_trace_language]), class: 'select2') %>
            </div>

          </fieldset>
        </div>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save' %>
      </div>

    </div>
  </fieldset>
<% end %>
